.btn_keyword {
    box-sizing: border-box;
    position:relative;
    width: auto;
    height: 30px;

    display:inline-block;

    background: #FFFFFF;
    border: 1px solid #CECECE;
    border-radius: 18px;

    color: #a9a9a9;
    font-weight: 400;
    font-size: 13px; 

    text-align: center;
    vertical-align: middle;

    margin-top: 10px;
    margin-left: 10px;
}