.btn {
    box-sizing: border-box;
    
    background: #FFFFFF;
    border: 1px solid #73BD88;
    border-radius: 6px;
    
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    margin-top: 35px;
    margin-right: 10px;
    
    color: #73BD88;
}