body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "scoreR";
}

@font-face {
  font-family: "NanumSquareRoundR";
  src: url("styles/fonts/NanumSquareRoundR.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "scoreR";
  src: url("styles/fonts/scdream4.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src: url("styles/fonts/Comfortaa.woff") format("woff");
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: url("styles/fonts/Mulish.woff") format("woff");
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("styles/fonts/Mulish.woff") format("woff");
}

@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 500;
  src: url("styles/fonts/NotoSansKR.woff") format("woff");
}

/*Regular*/
@font-face {
  font-family: "Montserrat-Regular";
  font-weight: normal;
  src: local("Montserrat-Regular") url("styles/fonts/Montserrat-Regular.woff")
    format("woff");
}
/*Bold*/
@font-face {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: bold;
  src: local("Montserrat-Bold") url("styles/fonts/Montserrat-Bold.woff")
    format("woff");
}
