.toptitle {
    margin-left: 3px;
}

.topname {
    margin-top: 40px;
    margin-left: 30%;
    margin-bottom: 10px;
}

.container {
    width: 70%;
}

.chidden {
    width: 70%;
    height: 0%;
}

.keywordicon {
    width: 20px;
}

.topsearchbox {

    box-sizing: border-box;

    width: 494px;
    height: 40px;
    margin-top: 50px;

    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.formsearchbox {

  display: flex;
  align-items: center;
}

.card {
    width: 18rem;
    margin-top: 50px;
    margin-left: 10px;
}

.card-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.card-img-top {
    width: 17.9rem;
    height: 10rem;
}

.greensearch {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(213, 240, 221, 0.4) 0%, rgba(255, 255, 255, 0.4) 0.01%, rgba(236, 246, 239, 0.4) 27.08%, rgba(220, 239, 225, 0.4) 73.44%, rgba(225, 241, 229, 0.4) 81.77%, rgba(208, 237, 216, 0.4) 100%);
}

.whitesearch {
    background: white;
}

.sampleImg {
    width: 65px;
    margin-left: 20px;
}