.container_bottom {
    position: absolute;
    right: 0px;
    width: 40%;
    padding: 10px;
}


.bottomimage {
    display: block;
    
    text-align: right;
    margin-right: 30px;
}

.circleimage {
    width: 50px;
    height: 50px;
    border-radius: 70%;
    margin: 5px;
}

.bottomText {
    position: absolute;
    width: 301px;
    height: 24px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height, or 160% */

    letter-spacing: -0.015em;

    color: rgba(0, 0, 0, 0.8);
    
    text-align: left;
    margin-left: 30px;
}

.bar {
    position: absolute;
    width: 1520px;
    height: 1px;

    background: rgba(0, 0, 0, 0.5);
}

.followus {
    text-align: right;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
}

.companyinfo {
    text-align: left;
    margin-left: 30px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
}

.col {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}